.title{
    font-size: 60px;
}
.a{
    font-size: 20px;
}
.b{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
.c{
    font-size: 20px;
}
.d{
    font-size: 14px;
    font-weight: normal;
}
.e{
    font-size: 20px;
}
.f{
    font-size: 14px;
    font-weight: normal;
}
ul.i {
    list-style-type: circle;
    font-size: 14px;
    font-weight: bold;
}
ij{
    font-size: 20px;
}
.j{
    font-size: 14px;
    font-weight: normal;
}
.k{
    font-size: 20px;

}
.l{
    font-size: 14px;
    font-weight: normal;
}
.m{
    font-size: 14px;
    font-weight: normal;
}